.coffee-card {
	width: 261px;
	height: 100%;
	font-size: 14px;
	position: relative;
}
#popular {
	position: absolute;
	top: 10px;
	left: 10px;
	background-color: #f6c768;
	padding: 3px 10px;
	border-radius: 15px;
	font-weight: bolder;
}
.coffee-card > * + * {
	margin-top: 5px;
}
#image {
	width: 261px;
	/* height: 120px; */
	border-radius: 10px;
}
#name-price {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 12px;
}
#name {
	color: #fef7ee;
}
#price {
	padding: 2px 5px;
	background-color: #bee3cc;
	border-radius: 5px;
}
#star-rating-votes {
	display: flex;
	justify-content: left;
	align-items: center;
}
#star-rating-votes-available {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#rating {
	margin-left: 3px;
	margin-right: 3px;
	font-size: 10px;
}
#votes {
	color: #6f757c;
	font-size: 10px;
}
#available {
	color: #ed735d;
	font-size: 10px;
}
