.coffee-list {
	height: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding: 10px 15px 15px 15px;
	gap: 24px;
}

@media (max-width: 768px) {
	.coffee-list {
		grid-template-columns: repeat(1, 1fr);
	}
}
