.background-image {
	width: 100%;
	height: 180px;
	background-image: url("./assets/bg-cafe-lg.jpg");
}
.background-dark {
	width: 100%;
	padding-bottom: 90px;
	background-color: #121315;
	display: flex;
	justify-content: center;
}
.content-part {
	width: 820px;
	height: fit-content;
	margin-top: -90px;
	padding: 60px 45px 35px 45px;
	position: relative;
	background-color: #1c1d1f;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.vector {
	position: absolute;
	top: 95px;
	left: calc(100% / 2);
	z-index: 2;
}
.svg-mobile {
	display: none;
}
.content-part > * + * {
	margin-top: 15px;
}
.content-part h1 {
	font-size: 24px;
	font-family: "Inter", sans-serif;
	color: #f5eee5;
	z-index: 4;
}
.info {
	width: 365px;
	font-size: 12px;
	font-family: "Inter", sans-serif;
	color: #60656b;
	text-align: center;
	z-index: 4;
}
.buttons {
	width: 200px;
	height: 25px;
	display: flex;
	justify-content: space-between;
	z-index: 4;
}
#all-products,
#available-now {
	border: none;
	outline: none;
	height: 100%;
	width: 90px;
	padding: 5px;
	background-color: transparent;
	text-decoration: none;
	text-align: center;
	font-size: 12px;
	color: #f5eee5;
	border-radius: 5px;
	cursor: pointer;
}
#all-products:hover,
#available-now:hover,
#all-products.selected,
#available-now.selected {
	background-color: #4d5562;
}

@media (max-width: 1024px) {
	.background-image {
		background-image: url("./assets/bg-cafe.jpg");
	}
	.content-part {
		width: 760px;
		padding: 60px 15px 35px 15px;
	}
}

@media (max-width: 768px) {
	.background-image {
		background-image: url("./assets/bg-cafe-sm.jpg");
	}
	.background-dark {
		padding-bottom: 45px;
	}
	.vector {
		top: 50px;
	}
	.svg-mobile {
		display: block;
	}
	.svg-desktop {
		display: none;
	}
	.content-part {
		width: 380px;
		margin-top: -135px;
	}
	.info {
		width: 250px;
	}
}
