.background-image {
	width: 100%;
	height: 300px;
	background-image: url("./assets/bg-cafe-lg.jpg");
}
.background-dark {
	width: 100%;
	padding-bottom: 90px;
	background-color: #111315;
	display: flex;
	justify-content: center;
}
.content-part {
	width: 1095px;
	height: fit-content;
	margin-top: -140px;
	padding: 80px 124px;
	position: relative;
	background-color: #1b1d1f;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.vector {
	position: absolute;
	top: 200px;
	left: calc(100% / 2);
	z-index: 2;
}
.svg-mobile {
	display: none;
}
.content-part h1 {
	font-size: 32px;
	color: #fef7ee;
	z-index: 4;
	margin-bottom: 8px;
}
.info {
	width: 500px;
	font-size: 16px;
	color: #6f757c;
	text-align: center;
	margin-bottom: 20px;
	z-index: 4;
}
.buttons {
	height: 34px;
	z-index: 4;
	margin-bottom: 40px;
}
#all-products {
	margin-right: 12px;
}
#all-products,
#available-now {
	border: none;
	outline: none;
	height: 100%;
	padding: 8px 12px;
	background-color: transparent;
	text-decoration: none;
	text-align: center;
	font-size: 14px;
	color: #fef7ee;
	border-radius: 5px;
	cursor: pointer;
}
#all-products:hover,
#available-now:hover,
#all-products.selected,
#available-now.selected {
	background-color: #4d5562;
}

@media (max-width: 1279px) {
	.background-image {
		background-image: url("./assets/bg-cafe.jpg");
	}
	.content-part {
		padding: 80px 80px;
	}
}

@media (max-width: 1023px) {
	.background-image {
		background-image: url("./assets/bg-cafe-sm.jpg");
	}
	.vector {
		top: 70px;
	}
	.svg-mobile {
		display: block;
	}
	.svg-desktop {
		display: none;
	}
	.content-part {
		width: 341px;
		padding: 60px 40px;
		margin-top: -240px;
	}
	.info {
		width: 280px;
		font-size: 14px;
	}
}
